<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Tracking Transparency Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">App Tracking Transparency Demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="getStatus()">GET STATUS</ion-button>
    <ion-button (click)="requestPermission()">REQUEST PERMISSION</ion-button>
  </div>
</ion-content>
